<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2gKriCHIlmpk_pvhnj2uFmkQiiEXrecU</string>
	<key>GCM_SENDER_ID</key>
	<string>221234004739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hw2</string>
	<key>PROJECT_ID</key>
	<string>event-tracker-cc97e</string>
	<key>STORAGE_BUCKET</key>
	<string>event-tracker-cc97e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221234004739:ios:551e28463a5065c5af9f36</string>
</dict>
</plist>